html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}

h1,
.h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-upper);
  font-weight: var(--fw-regular);
}

a:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 2px;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
