.container {
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--space-5);
}

.section {
  padding-block: var(--section-y);
}

.section__title {
  @extend .h1 !optional;
}

header[role='banner'] {
  padding-block: var(--space-8);
  text-align: center;
}

.flow > * + * {
  margin-block-start: var(--space-5);
}
